*~
*.tmp
*.bak
\#*

# NodeJS specific #
.nyc_output/
coverage/
node_modules/
npm-debug.log
package-lock.json
test/*.log

.vscode/
coverage/

# ESLint HTML report
eslint.html

# Sylvain's script to count lines
lines.sh
