/*#title{
    font-size: 30px;
    font-family: cursive;
}
h1 { color: red; }
.heading { color: green; }
.testElem{
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 40px;
    margin-right: 40px;
    padding-top: 30px;
    padding-bottom: 30px;
    padding-right: 50px;
    padding-left: 50px;
}*/